body{
    background-image: url("./assets/pexels-anni-roenkae-2156881.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

nav {
    /*background-color: #0dedd6;*/
    background-color: rgba(12, 237, 215, 0.5);
    margin: 0;
    height: 150px;
    display: flex;
    align-items: center;
    border: 10px solid black;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2em;
}

nav ul li {
    /*font-family: 'Shadows Into Light', cursive;*/
    /*font-family: 'Permanent Marker', cursive;*/
    /*font-family: 'Jacques Francois Shadow', cursive;*/
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Merienda', cursive;
    margin-right: 3em;
    list-style: none;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    font-size: 36px;
}